# MySQL 연결
> 개발환경 : Anaconda, Jupyter Notebook, Python, MySQL

In [3]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\anaconda\envs\matching\lib\site-packages (1.0.2)
Collecting pandas
  Downloading pandas-1.3.4-cp38-cp38-win_amd64.whl (10.2 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\anaconda\envs\matching\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2017.3
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.3-cp38-cp38-win_amd64.whl (14.0 MB)
Requirement already satisfied: six>=1.5 in c:\anaconda\envs\matching\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.3 pandas-1.3.4 pytz-2021.3
Requirement already satisfied: numpy in c:\anaconda\envs\matching\lib\site-packages (1.21.3)

In [4]:
import pymysql

### TEST 데이터베이스에 studnets 테이블 생성

``` mysql
CREATE TABLE IF NOT EXISTS `students` (
    id int(6) AUTO_INCREMENT,
    name varchar(255) NOT NULL,
    major varchar(255) NOT NULL,
    PRIMARY KEY (id)
);

INSERT INTO students (name, major) VALUES
    ('John', 'Music'),
    ('Sarah', 'Art'),
    ('Steve', 'Computer Science');
```

### SELCT

In [7]:
conn = pymysql.connect(host = '127.0.0.1', 
                       port = 3306, 
                       user = 'root', 
                       password = 'blackpink0808', 
                       db = 'TEST')

cursor = conn.cursor()

query = "SELECT * FROM students"
cursor.execute(query)

result = cursor.fetchall()
# result = cursor.fetchone() : 상위 하나만 확인

# print(result)
for x in result:
    print(x)

(1, 'John', 'Music')
(2, 'Sarah', 'Art')
(3, 'Steve', 'Computer Science')

### INSERT - execute()

In [9]:
query = "INSERT INTO students (name, major) VALUES (%s, %s)"
data = ('Emma', 'Movie')
cursor.execute(query, data)

conn.commit()

1

In [12]:
# 확인
query = "SELECT * FROM students"
cursor.execute(query)

result = cursor.fetchall()

for x in result:
    print(x)

(1, 'John', 'Music')
(2, 'Sarah', 'Art')
(3, 'Steve', 'Computer Science')
(4, 'Emma', 'Movie')

### INSERT - executemany()

In [13]:
query = "INSERT INTO students (name, major) VALUES (%s, %s)"
data = [('Tom', 'Math'), ('Max', 'Statistics')]
cursor.executemany(query, data)

conn.commit()

In [14]:
# 확인
query = "SELECT * FROM students"
cursor.execute(query)

result = cursor.fetchall()

for x in result:
    print(x)

(1, 'John', 'Music')
(2, 'Sarah', 'Art')
(3, 'Steve', 'Computer Science')
(4, 'Emma', 'Movie')
(5, 'Tom', 'Math')
(6, 'Max', 'Statistics')

### UPDATE

In [17]:
query = "UPDATE students SET name = 'Ben' WHERE id = 6"
cursor.execute(query)

conn.commit()

In [18]:
# 확인
query = "SELECT * FROM students"
cursor.execute(query)

result = cursor.fetchall()

for x in result:
    print(x)

(1, 'John', 'Music')
(2, 'Sarah', 'Art')
(3, 'Steve', 'Computer Science')
(4, 'Emma', 'Movie')
(5, 'Tom', 'Math')
(6, 'Ben', 'Statistics')

### DELETE

In [19]:
query = "DELETE FROM students WHERE id = 6"
cursor.execute(query)

conn.commit()

In [20]:
# 확인
query = "SELECT * FROM students"
cursor.execute(query)

result = cursor.fetchall()

for x in result:
    print(x)

(1, 'John', 'Music')
(2, 'Sarah', 'Art')
(3, 'Steve', 'Computer Science')
(4, 'Emma', 'Movie')
(5, 'Tom', 'Math')

### ROLLBACK

In [16]:
conn.rollback()

### 연결 끊기

In [22]:
conn.close()